/* :root {
  --search-background: hsl(var(--hue-color), 28%, 88%);
  --search-background-alpha: hsla(var(--hue-color), 28%, 12%, 30%);
}

body.dark-theme {
  --search-background: hsl(var(--hue-color), 28%, 88%);
  --search-background-alpha: hsla(var(--hue-color), 28%, 88%, 30%);
}

.search-container {
  position: relative;
  width: 75%;
  height: 2.5rem;
  margin: 2rem 0;
  display: block;
}

.search-bar {
  position: relative;
  z-index: 1;
}

.search-text {
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  padding: 1rem 2.2rem 1rem 1.2rem;
  border-radius: 10rem;
  border: none;
  outline: none;
  background-color: var(--search-background);
}

.search-submit {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  color: black;
}

.search-list {
  position: absolute;
  display: grid;
  top: 1.25rem;
  background: var(--search-background-alpha);
  backdrop-filter: blur(1rem);
  border-radius: 0 0 0.5rem 0.5rem;
  grid-auto-rows: 1.5rem;
  grid-auto-flow: row;
  padding: 1.45rem 0.6rem 0.2rem 0.6rem;
}

.search-list p {
  align-content: center;
  color: white;
} */

/* 
@media  screen and (min-width:500px) {
  .search-container{
    width: 70%;
  }
} */

/* @media  screen and (min-width:800px) {
  .search-container{
    width: 50%;
  }
} */

/* @media  screen and (min-width:968px) {
  .search-container{
    width: 70%;
  }
} */